<div class="mt-4 p-5 bg-secondary text-white rounded">
    <h1>PROGRAMMER 개또 </h1>
    <br/>
    <p>📞 +82) 010-1234-2345 </p>
    <p> 🏠 242, Cheomdan-ro, Jeju-si, Jeju-do, Republic of Korea</p>
  </div>

<script src="/js/common.js"></script>
</body>
</html>
